  {% if service_product == 'e-line' %}
     <!-- include mrv_template-eline.j2 -->
  {% elif service_product == 'e-lan' %}
     <!-- include mrv_template-elan.j2 -->
  {% elif service_product == 'e-access' %}
     <!-- include mrv_template-eaccess.j2 -->
  {% endif %}




