{% if service_product == 'e-line' %}
   {% include "mrv_template_eline.j2" %}
{% elif service_product == 'e-lan' %}
     {% include "mrv_template_elan.j2" %}
{% elif service_product == 'e-access' %}
     {% include "mrv_template_eaccess.j2" %}
{% endif %}




