  {% if service_product == 'e-line' %}
     <!-- include pe_template-eline.j2 -->
  {% elif service_product == 'e-lan' %}
     <!-- include pe_template-elan.j2 -->
  {% elif service_product == 'e-access' %}
     <!-- include pe_template-eaccess.j2 -->
  {% endif %}